{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2>O projekcie</h2>
<div class="description">
    <p>
        Autorem niniejszego serwisu jest Weronika Ramus.
    </p>
    <p>
        Serwis ten stanowi integralną część pracy licencjackiej (kierunek: elektroniczne przetwarzanie informacji), przygotowanej pod kierunkiem Dr&nbsp;hab.&nbsp;Janusza&nbsp;Jurka, prof.&nbsp;UJ na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
    </p>
</div>

{% endblock %}