{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2>Dodaj stronę</h2>
<form action="/site/add" method="POST" enctype="multipart/form-data" class="site-form">
    {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label")}}
        {{ form.name(class="form-control") }}

        {{ form.url.label(class="form-label") }}
        {{ form.url(class="form-control") }}

        {{ form.category.label(class="form-label") }}
        {{ form.category(class="form-control") }}

        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control") }}

        {{ form.picture.label(class="form-label") }}
        {{ form.picture(class="form-control") }}

    {{ form.submit(class="btn btn-primary") }}

    <br>
</form>
<h3>Dodane strony:</h3>
{% for our_site in our_sites %}
    <p>{{ our_site.name }} - {{ our_site.url }} - {{ our_site.type }} - {{ our_site.picture }}</p>
{% endfor %}

{% endblock %}
