{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <h2>Odpowiedzi</h2>

    {% for site in sites %}
        <table>
            <caption>{{ site.name }}</caption>
            <thead>
                <tr>
                    <th>Responder ID</th>
                    <th>Płeć</th>
                    <th>Wiek</th>
                    <th>Miejsce zamieszkania</th>
                    <th>Wykształcenie</th>
                    <th>Zawód</th>
                    <th>Strona</th>
                    {% for question in questions if site.type == question.type %}
                        <th>{{ question.q1 }}</th>
                        <th>{{ question.q2 }}</th>
                        <th>{{ question.q3 }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>

                {% for rating in ratings if rating.site_id == site.id %}
                    {% for responder in responders if rating.responder_id == responder.id %}
                        <tr>
                            <td>{{ responder.id }}</std>
                            <td>{{ responder.gender }}</td>
                            <td>{{ responder.age }}</td>
                            <td>{{ responder.residence }}</td>
                            <td>{{ responder.education }}</td>
                            <td>{{ responder.occupation }}</td>
                            <td>{{ rating.site.name }}</td>
                            <td>{{ rating.star1 }}</td>
                            <td>{{ rating.star2 }}</td>
                            <td>{{ rating.star3 }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

{% endblock %}
